@{
    ViewData["Title"] = "Chechout";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Oreder Completeed Successfully!</h3>
        <hr />
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">
            <i class="fas fa-regular fa-refresh"></i>
            Go To The Home Page
        </a>
    </div>
</div>
